<h1> <%= @place.city%> </h1>
















<%= image_tag(@place.image_link, size: "600x400")%>
<h6> <%= @place.description %> </h6>
<h1> <%= @place.cateogry %> </h1>


<%= button_to 'Yes', update_response_path(:go => "True", :place => @place), {class: 'btn btn-success btn-lg'}  %>
<%= button_to 'No', update_response_path(:go => nil, :place => @place), {class: 'btn btn-danger btn-lg'} %>

